$overflow:hidden;
$display:flex;
$margin-left:20px;
$width:90%;
$width2:20%;
$width3:4%;
$margin:5%;
$top:10%;
$top1:-10%;
$top2:2%;
$radius:30px;
$color:white;
$shadow:2px 2px 5px 2px;
$btl_radius:20%;
$width1:18%;
$clr_black:black;
$text:center;
$display:flex;
$justify:space-between;
$none: none;
$other_margin:6%;
$left:left;
$left1:25%;
$right:50%;
$size:2vw;
$family:"FrancoisOne";
$underline:underline;
$gras:bolder;
$transform:uppercase;